
<div class="container">

  <div class="well">
    <center>
      <h4>Listing Categories</h1>
    </center>
    <div class="pull-right">

      <%= link_to new_category_path, class: "btn btn-info" do %>
        <i class="icon-plus"></i><span style="color:white;"> New Category</span>
      <% end %>
      <%= link_to tasks_path, class: "btn btn-info" do %>
        <i class="icon-tasks"></i><span style="color:white;"> Tasks</span>
      <% end %>
      <br><br/>
    </div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="span6">Name</th>
      <th class="span3" >Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.position %></td>
        <td>
          <center>
            <%= link_to edit_category_path(category), class: "btn btn-default" do %>
              <i class="icon-pencil"></i> <span> Edit</span>
            <% end %>
          </center>
    <% end %>
  </tbody>
</table>

</div>
